.p-global {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
}
.wrapper {
  max-width: 1350px;
  padding: 10px 100px;
  margin-inline: auto;
}
.section__padding {
  padding: 100px 0px;
}
.heading-text {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.p__text {
  font-family: var(--font-alt);
  color: var(--color-gray);
  text-transform: capitalize;
  font-size: 16px;
}
.custom__button {
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}
.custom__button:hover {
  background-color: #c8b261;
}

@media screen and (max-width: 650px) {
  .wrapper {
    padding: 10px 20px;
  }
}
